node-red
.DS_Store
._*
.cloud
.storage
*.conf
*.xml
*.swp
*.pid
*.csr
*.crt
*.key
*.pickle
*.backup
*.json
*.log
core.*
.uuid
*.txt
deps
home-assistant.log
home-assistant_v2.*
ip_bans.yaml
known_devices.yaml
*.sqlite
*.db-journal
*.db-shm
*.db-wal
__pycache__
secrets.yaml
ssl
tts
*.jpg
*.mp3
*.srt
*.mkv
*.mp4